<div class="row">
  <div class="col-md-3">
    <div class="card text-white bg-primary">
        <div class="card-body">
            <p class="card-text">Some Text</p>
            <div class="card_chart">
                <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [options]="radarChartOptions"
          [chartType]="radarChartType"></canvas>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="card text-white bg-info">
          <div class="card-body">
              <p class="card-text">Some Text</p>
              <div class="card_chart">
                  <canvas baseChart
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [options]="radarChartOptions"
            [chartType]="radarChartType"></canvas>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <p class="card-text">Some Text</p>
                <div class="card_chart">
                    <canvas baseChart
              [datasets]="radarChartData"
              [labels]="radarChartLabels"
              [options]="radarChartOptions"
              [chartType]="radarChartType"></canvas>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card text-white bg-danger">
              <div class="card-body">
                  <p class="card-text">Some Text</p>
                  <div class="card_chart">
                      <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [options]="radarChartOptions"
                [chartType]="radarChartType"></canvas>
                  </div>
              </div>
          </div>
        </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div style="display: block; overflow-x: hidden;">
            <canvas baseChart  height="100"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    ></canvas>
          </div>
          <!-- <button (click)="randomize()">Update</button> -->
        </div>
  </div>
</div>

