<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
    <table class="table table-striped">
        <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of getuserData">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.email}}</td>
        <th class="text-right" *ngIf="data.firstname !== 'admin' ">
          <span class="table_icon"><a href="javascript: void(0)" (click)="edituser(data._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
          <span class="table_icon"><a href="javascript: void(0)" (click)="deleteuser(data._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
        </th>
      </tr>
     
    </tbody>
    </table>
    <div class="">{{message}}</div>
  </div>
  </div>
  </div>
</div>
